<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="EditPostController">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Entrada en el blog
      <small>Edicion</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Edición de entrada</li>
    </ol>
  </section>

  <!-- Main content -->
 <section class="content">

 
 <form role="form" name="editPostForm" ng-submit="editPost()" novalidate>   
 <div class="box box-primary">
        <div class="box-header with-border">
          <div class="alert alert-warning" role="alert" id="alert" style="display:none"></div>
          <h3 class="box-title">Datos generales</h3>
        </div>
    
      <div class="box-body">
        <input type="hidden" name="id" id="id" ng-model="post.id"/>
        <div class="form-group" ng-class="{'has-error':editPostForm.titulo.$error.required && !editPostForm.titulo.$pristine}">
          <label for="Nombre">Título</label>
          <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Introduzca el nombre" ng-model="post.titulo" required>
            
          <span class="help-block" ng-show="editPostForm.titulo.$error.required && !editPostForm.titulo.$pristine">
                El título es un campo obligatorio
          </span>
        </div>
        <script type="text/javascript">
            var dato = '{{post.descripcion}}';  
        </script>  
          
 
        <div class="form-group" ng-class="{'has-error':editPostForm.descripcion.$error.required && !editPostForm.descripcion.$pristine}">
          <label for="Descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" name="descripcion" placeholder="Introduzca la descripción" rows="10" cols="20" required ng-model="post.descripcion"></textarea>
          
           <span class="help-block" ng-show="editPostForm.descripcion.$error.required && !editPostForm.descripcion.$pristine">
                El título es un campo obligatorio
           </span>
            
        </div>
      </div>
    
      <div class="box-footer">
          
        <button type="submit" class="btn btn-primary" 
            ng-disabled="altaPostForm.$invalid">Editar</button>
  </form>
        <input type="button" value="Cancelar" class="btn btn-primary" ng-click="back()"/>
           
      </div>
     
   </div> 
     
  <script type="text/javascript">
      
      
      
    $(function () {
        // Se convierte el campo 'descripcion' en un de tipo textarea wysihtml5 de bootstrap
        $("#descripcion").wysihtml5();
        //$("#descripcion").val('{{post.descripcion}}');  
        //$("#descripcion").val(dato);
      
  });
</script>  


  </section>
</div>

