<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Estadísticas
        <small>de uso del sitio web</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Estadísticas</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <h1><%= message %></h1>
	  <h2><%= error.status %></h2>
	  <pre><%= error.stack %></pre>

    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->
