.tituloVideoYoutube { 
    font-family: Verdana,Arial,Verdana,Serif;
    font-size: 12px;
    color: blue;
    font-weight: bold;
    width:196px;
}

.canalVideoYoutube { 
    font-family: Verdana,Arial,Verdana,Serif;
    font-size: 11px;
    color: darkgray;
    width:196px;
}